/target/
/.settings/
.classpath
.project
/Query2Service/target/
/Query2Service/.settings/
/Query2Service/.classpath
/Query2Service/.project
/Query2MVC/target/
/Query2MVC/.settings/
/Query2MVC/.classpath
/Query2MVC/.project

